.header {
    font-size: large;
}
.music {
    width: 64px;
    height: 64px;
    position: fixed;
    bottom: 60px;
    left: calc((100% - 64px) / 2);
    cursor: pointer;
    border-radius: 50%;
    background-image: url('../assets/itunes.png');
    background-size: cover;
}